@{
    ViewData["Title"] = "Home Page";
}
@model Clinic_management_system_mvc.Models.Login

    




<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="~/Images/img1_hospital.jpg" alt="">
	</div>
	<div class="carousel-item">
		<img src="~/Images/img2_h.jpg" alt="">
	</div>
	<div class="carousel-item">
		<img src="~/Images/img3_h.jpg" alt="">
	</div>
	
</div>
<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
	<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
	<span class="carousel-control-next-icon"></span>
</a>
<!-- Indicators -->
<ul class="carousel-indicators" style="background-color:transparent">
	<li data-target="#demo" data-slide-to="0" class="active"></li>
	<li data-target="#demo" data-slide-to="1"></li>
	<li data-target="#demo" data-slide-to="2"></li>
	
</ul>
	</div>
</div>
