<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic_management_system_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clinic_management_system_mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div style="background-color:steelblue" class="container-fluid">
                <img src="~/Images/logo.jpg" style="width:100px;height:80px;padding-left:2px; padding-top:5px; padding-bottom:5px;">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" >
                            <a class="nav-link text-dark" style="padding-left:850px" asp-area="" asp-controller="patient" asp-action="Index"><p style="color:white">Patient</p></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" style="padding-left:20px" asp-area="" asp-controller="Doctor" asp-action="Index"><p style="color:white">Doctor</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="padding-left:20px" asp-area="" asp-controller="Admin" asp-action="Index"><p style="color:white">Admin</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="padding-left:20px" asp-area="" asp-controller="Contact" asp-action="Index"><p style="color:white">Contact</p></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Clinic_management_system_mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
